.breadcrumb {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  text-align: center;
  margin-bottom: 0;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

img {
  width: 20%;
}

.jumbotron {
  text-align: center;
  padding: 20px;
  width: 80%;
}

.projectContainer {
  margin: 10px;
}

.row {
  justify-content: center;
  width: 60%;
}

.card-img-top {
  height: 100px;
}

#galleryContainer {
  margin: 10px;
}
.badgeContainer {
  margin: 10px;
}

.progress {
  margin-top: 10px;
}

li {
  list-style-position: inside;
  margin-bottom: 10px;
}

input {
  margin: 5px;
}

.dropdownForm {
  margin: 10px;
}

.formButtons {
  margin: 10px;
}

.social-icon {
  margin: 10px;
}
.styles_closeIcon__1QwbI {
  margin: 5px;
  display: overflow;
}
h5 {
  padding: 10px;
}

.modal-header {
  color: white;
  background-color: #5bc0de;
  margin: 10px;
}

.modal-body {
  font-size: 14px;
  font-weight: normal;
}
