.breadcrumb {
  padding: 2px;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  width: 20%;
}

.jumbotron {
  text-align: center;
  padding: 20px;
}
